#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


img {
  width: 100px;
  height: auto;
  object-fit: cover;
  transform: translate3d(42px, -62px, -135px);
  display: block;
  transform-origin: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: top top;
  cursor: pointer;
}

.img-container{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  perspective: 62rem;
  perspective-origin: center center;
  transform-style: preserve-3d;
}